= semantic_form_for @quote do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :description
    = f.input :billable_rate
    = f.input :clone, as: :select, collection: quotes_collection, selected: @clone
  = f.buttons do
    = f.commit_button

