.top_nav
  - if !@quote.processed?
    .pull-right.btn.admin_only= link_to 'Send to Xrono', :action => 'client_select', :id => @quote.id
  .pull-right.btn.admin_only= link_to 'PDF', quote_path(@quote, format: 'pdf'), class: 'pdf_link', data: {variance: @quote.variance}
  .pull-right.btn.admin_only= link_to 'Clone', new_quote_path(clone: @quote.uuid)
  .clear
%h2
  = @quote.description
  = link_to 'edit', edit_quote_path(@quote), class: 'admin_only btn'
  = link_to 'Add Section', new_section_path(parent: @quote.id), class: 'admin_only btn'
%table#quotes-table.table.table-bordered
  %thead
    %tr
      %th.admin_only Sort
      %th Description
      %th Min hours
      %th Max hours
      %th.admin_only
      %th.admin_only
  %tbody
    - @quote.descendants.each do |node|
      - if node.type == 'Section'
        %tr.section{ class: "level_#{node.level}" }
          %td.admin_only.arrows
            = button_to '&uarr;'.html_safe, {controller: 'sections', action: 'update', id: node.id, move: 'up'}, method: :put, class: 'btn btn-default'
            = button_to '&darr;'.html_safe, {controller: 'sections', action: 'update', id: node.id, move: 'down'}, method: :put, class: 'btn btn-default'
          %td{ class: "level_#{node.level}" }
            = node.description
            = link_to '+s', new_section_path(parent: node.id), class: 'admin_only'
            = link_to '+i', new_item_path(parent: node.id), class: 'admin_only'
          %td= node.min_hours
          %td= node.max_hours
          %td.admin_only= link_to 'edit', edit_section_path(node), class: 'btn btn-primary'
          %td.admin_only= button_to 'remove', section_path(node), method: :delete, class: 'btn btn-danger'
      - else
        %tr.item
          %td.admin_only.arrows
            = button_to '&uarr;'.html_safe, {controller: 'items', action: 'update', id: node.id, move: 'up'}, method: :put, class: 'btn btn-default'
            = button_to '&darr;'.html_safe, {controller: 'items', action: 'update', id: node.id, move: 'down'}, method: :put, class: 'btn btn-default'
          %td{ class: "level_#{node.level}" }= node.description
          %td= node.min_hours
          %td= node.max_hours
          %td.admin_only= link_to 'edit', edit_item_path(node), class: 'btn btn-primary'
          %td.admin_only          
            = button_to 'remove', item_path(node), method: :delete, class: 'btn btn-danger'
            
  %tfoot
    %tr
      %td.admin_only
      %td= "Hour Totals"
      %td= @quote.min_hours
      %td= @quote.max_hours
      %td.admin_only
      %td.admin_only
    - if @quote.billable_rate.present?
      %tr
        %td.admin_only
        %td= "Billing Totals"
        %td= number_to_currency((@quote.billable_rate * @quote.min_hours), :unit => "$")
        %td= number_to_currency((@quote.billable_rate * @quote.max_hours), :unit => "$")
        %td.admin_only
        %td.admin_only
%p Note: Estimate for budgetary purposes only. Isotope11 does not engage in fixed-bid work.

