%h3
  = @quote.description
  = link_to 'edit', edit_quote_path(@quote)
%table.bordered-table
  %thead
    %tr
      %th Description
      %th Min hours
      %th Max hours
      %th
  - @quote.descendants.each do |child|
    %tr{ class: child.type.downcase }
      %td{ class: "level_#{child.level}" }= child.description
      %td= child.min_hours
      %td= child.max_hours
      %td= link_to 'edit', child.type == 'Section' ? edit_section_path(child) : edit_item_path(child)
  %tfoot
    %tr
      %td= "Totals"
      %td= @quote.min_hours
      %td= @quote.max_hours
      %td=
