%h3= @quote.description
%table
  %thead
    %tr
      %th Description
      %th Min hours
      %th Max hours
  - @quote.descendants.each do |child|
    %tr{ class: child.type.downcase }
      %td{ class: "level_#{child.level}" }= child.description
      %td= child.min_hours
      %td= child.max_hours
  %tfoot
    %tr
      %td= "Totals"
      %td= @quote.min_hours
      %td= @quote.max_hours
