= semantic_form_for @section do |f|
  = f.semantic_errors
  = f.inputs do
    = f.hidden_field :parent_id
    = f.input :description
  = f.actions do
    = f.action :submit, as: :button, class: "btn btn-primary"

