= semantic_form_for @item do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :description
    = f.input :min_hours
    = f.input :max_hours
  = f.actions do
    = f.action :submit, as: :button
