!!!
%html
  %head
    %title QuoteApp
    = stylesheet_link_tag    "print", media: 'print'
    = stylesheet_link_tag    "application", media: 'screen'
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse
      .container-fluid
        .navbar-header
          %a.navbar-brand{:href => "/"} Isotope11 Quote Application
          = yield :title
        %ul.nav.navbar-nav
          %li= link_to "Home", root_path
          %li= link_to "Quotes", quotes_path
          %li= link_to "New Quote", new_quote_path
          %li= link_to 'Item Templates', item_templates_path
    .container
      - if notice
        .alert-message.info
          %p= notice
      - if alert
        .alert-message.warning
          %p= alert
      - if flash[:error]
        .alert-message.error
          %p= flash[:error]
      = yield
      %br.clear
