<!DOCTYPE html>
<html>
  <head>
    <title>QuoteApp</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "less" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='topbar'>
      <div class='topbar-inner'>
        <div class='container'>
          <a class='brand' href='#'>Isotope11 Quote Application</a>
          <%= yield :title %>
          <% if current_user %>
            <%= link_to('Sign out', destroy_user_session_path, :method => :delete, :class => "btn danger logout") %>
          <% else %>
            <%= form_tag user_session_path do %>
              <%= text_field_tag 'user[email]', nil, :class => "pull-left login" %>
              <%= password_field_tag 'user[password]', nil, :class => "pull-left login" %>
              <%= submit_tag "Sign in", :class => "btn success pull-left" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <br class="clear">
    </div>
  </body>
</html>
